.App {
  text-align: center;
  padding-top: 30px;
  /* padding-left: 11px; */
}
.overAll {
  padding-left: 3px;
  /* padding-bottom: 100px; */
}

.like-button {
  margin-right: 25px;
  font-size: 15px;
}
.disLike-button {
  font-size: 15px;
}

.all {
  height: 400px;
  float: left;
  width: 24.5%;
  border-style: solid;
  object-fit: cover;
  padding-top: 20px;

  /* background-color: red; */
}

.profilePic {
  width: 70%;
  /* height: 250px; */
  border-radius: 1000px;
}
/* .movie-container :hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
} */
.counter {
  /* padding-top: 20px; */
  padding-bottom: 20px;
}
.app-css {
  padding-bottom: 10px;
}

.movie-container {
  /* padding-top: 13px; */
  width: 340px;
  /* height: min-content; */
}

.movie-specs,
.toggle-info {
  display: flex;
  justify-content: space-between;
}
.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-rating {
  font-size: larger;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding-bottom: 30px;
}

.input-button {
  margin-left: 10px;
}

.addMovie {
  display: flex;
  flex-direction: column;
}
.addMovie1 {
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-name,
.input-poster-url,
.input-rating,
.input-summary {
  width: 40%;
  font-size: 18px;
}
.input-name {
  padding-bottom: 100px;
}

.input-addMovie-btn {
  background-color: #4caf50;
  border-radius: 100px;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 10%;
}
.input-addMovie-btn:hover {
  color: whitesmoke;
}

.input-addMovie-btn-div {
  padding-top: 10px;
}

.Error404 {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.container {
  background: url(https://miro.medium.com/max/1400/1*DeBkx8vjbumpCO-ZkPE9Cw.png);
}

.Error404 {
  padding: 12px;
  background-color: red;
  mix-blend-mode: screen;
}

.image-container {
  background-image: url("https://wallpaperaccess.com/full/6692775.jpg");
  background-size: cover;
  position: relative;
  height: 750px;
  width: 100%;
}

.text {
  background-color: green;
  color: black;
  font-size: 10vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.movie-details-container {
  max-width: 900px;
}
.back-movieDetailsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.previous-back-btn {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  justify-content: space-between;
  flex-direction: row;
  height: 4vh;
  max-width: 100%;
  display: flex;
}

.inputButtons-div {
  padding-bottom: 10px;
}

.tic-tac-toe {
  padding-left: 10px;
}

.game-box {
  height: 160px;
  /* width: 160px; */
  background-color: white;
  color: black;
  font-size: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.game-box:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3,1fr); */
  max-width: 600px;
}
